.molecule--piped-meta.molecule--piped-meta {
  //margin-bottom: .5rem;
  flex-wrap: wrap;
  row-gap: 8px;
  .meta-item {
    margin-bottom: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    .icon {
      margin-right: 3px;
    }
    &:after {
      content: '|';
      margin: 0 8px;
    }
    &:last-of-type:after {
      content: none;
    }
  }
}

