.molecule--content-tab-item {
  width: 100%;

  .contact-tab-item__header {
    margin-bottom: $spacing-12;
  }

  .heading-wrapper {
    font-size: $heading-sm-smallscreen;
    line-height: $heading-sm-line-height;

    @include breakpoint(medium) {
      font-size: $heading-sm-font-size;
    }
  }

  .audience-header {
    margin-bottom: $spacing-8;

    @include breakpoint (large) {
      margin-bottom: $spacing-10;
    }
  }

  .contact-tab-item__content--panel {
    margin-bottom: $spacing-12;
  }

  .contact-tabs--submit-button-facade {
    float: right;
  }

  .contact-form-page {
    display: none;
  }

  &.active-side--form-panel {

    .contact-tab-item__content--left,
    .contact-tab-item__content--right {
      display: none;
    }

    .contact-form-page {
      display: block;
    }
  }

  .contact-form-page .back-button {
    margin-bottom: $spacing-4;

    a {
      @include btn(tertiary);

      &:after {
        display: none;
      }

      &:before {
        content: "arrow_back";
        margin-right: 5px;
        font-family: $icon-font-family;
        font-size: 24px;
        line-height: 0;
        vertical-align: -7px;
        display: inline-block;
        transform: translateX(0px);
        transition: transform 300ms linear;
      }
    }
  }

  .timezone-label {
    font-weight: 700;
  }

  form .form-actions .webform-button--submit {
    display: none !important;
  }
}
