.molecule--accordion-item.molecule--accordion-item {
  a {
    &:hover, &:focus {
      color: $color--brand--warm-black;
    }
  }

  &:after {
    background: $color--light-grey-5;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:first-of-type:before {
    height: 1px;
  }

  .molecule--accordion-item--header {
    display: block;
    text-decoration: none;
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
  }

  .accordion-content {
    border: none;
    margin-bottom: $spacing-2;
    padding: 0;

    @include breakpoint(large) {
      margin-bottom: $spacing-5;
    }
  }

  .expand-more:after {
    content: "\e5cf";
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transition: all ease-in-out 0.4s;
    font-size: 26px;
    height: 26px;
  }

  &.is-active {
    border-color: $color--light-grey-5;

    .expand-more:after {
      transform: rotate(180deg);
      transition: all ease-in-out 0.4s;
    }
  }

  &:last-child > .accordion-content:last-child {
    border: none;
  }

  .molecule--accordion-item--title {
    font-weight: $global-weight-medium;
    padding-right: 2rem;
  }
  .molecule--accordion-item--title,
  .molecule--accordion-item--description  {
    word-wrap: break-word;
    white-space: normal;
    @include breakpoint(small) {
    font-size: $body-lg-smallscreen;
    line-height: $body-lg-line-height;
    }
  }

  .molecule--accordion-item--subheading {
    margin-bottom: 1rem;
  }

  .organism--accordion--link-wrapper {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;

    .button--tertiary-vibrant:after {
      content: "\e895";
      font-family: "Material Symbols Outlined";
    }

    > a {
      width: 100%;
    }

    > a:nth-child(even) {
      background-color: #F5F4F2;
    }
  }

  .disclosure {
    margin-top: 1rem;
  }
}
