.molecule--menu--social {
  // Override default link styles.
  .layout-container .bg-color-contrasting-warm-black & {
    a {
      text-decoration: none;
    }
  }

  @include breakpoint(mobile_menu) {
    justify-content: flex-end;
  }

  &--icon {
    a {
      display: block;
      padding: $spacing-2;

      .icon {
        color: $color--brand--pure-white;
        display: inline-block;
      }
      .icon::before {
        font-size: 28px;
      }
      &:link,
      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        .icon::before {
          text-decoration: none;
        }
      }
      &:focus {
        .icon::before {
          //border: 1px solid $color--white;
          border-radius: 2px;
          padding: $spacing-1;
        }
      }
    }
  }
}
