//  ////
///// Hamburger button
//////
//
.menu-toggle, .toggle-filters {
  width: 48px;
  height: 48px;
  background: $color--brand--pure-white;
  font-size: 0;
  color: transparent;
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
  padding: 19px 17px;

  .menu-toggle-inner-wrapper {
    width: 15px;
    height: 10px;
    position: relative;
  }

  span {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    position: absolute;
    left: 0;
    transform: rotate(0) translateY(0);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    &:nth-of-type(1) {
      transform-origin: center;
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-of-type(3) {
      transform-origin: center;
      bottom: 0;
    }
  }
  .menu-active & {
    .menu-toggle-inner-wrapper {
      height: 15px;
      transform: translate(-7px, -3px);
    }

    span {
      &:nth-of-type(1) {
        transform: rotate(45deg) translateY(-1px) translateX(10px);
        //transform: rotate(45deg) translateY(-1px);
        //transform: rotate(45deg);
        top: 0;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        //transform: rotate(-45deg) translateY(1px);
        transform: rotate(-45deg) translateY(1px) translateX(10px);
        //transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }
}
