.page--person {
  .side-content {
    h2 {
      font-size: $heading-md-font-size;
      line-height: $heading-md-line-height;
      margin-top: $spacing-6;
      margin-bottom: 0;

      @include breakpoint(large) {
        margin-top: 0;
      }
    }

    .person__title.body-l {
      margin-bottom: $spacing-2;
      margin-top: $spacing-2;

      @include breakpoint(medium) {
        margin-bottom: $spacing-6;
      }

      @include breakpoint(large) {
        margin-top: $spacing-4;
      }
    }

    .person_quote.body-l {
      #person__quote_heading {
        font-weight: $global-weight-bold;
      }

      blockquote {
        padding: 0;
        border-left: none;

        p {
          color: $color--brand--warm-black;
        }

        &.person__quote_content.body-l {
          font-weight: $global-weight-normal;

          >p {
            font-style: italic;
            margin-bottom: $spacing-2;
            margin-top: $spacing-2;
          }
        }

        cite {
          font-size: $body-md-font-size;
          line-height: $body-md-line-height;
          color: $color--brand--warm-black;
          font-style: normal;

          &::before {
            content: none;
          }
        }
      }
    }
  }

  .person__title,
  .person_quote {
    p {
      margin-bottom: 0;
    }
  }

  .content-body {
    margin-top: $spacing-6;

    p {
      font-size: $body-md-font-size;

      @include breakpoint(large) {
        font-size: $body-lg-font-size;
      }
    }
  }
}