.atom--form--exposed-filters {
  // style things
  position:relative;
  .submit-button-exposed {
    text-align:left;
    margin: 25px 0;
    @include breakpoint(large) {
      margin: 32px 0;
    }
    span.button {
      padding: 14px 24px;
    }
  }
  div.form-type-search-api-autocomplete,
  div.form-item-keyword,
  div.form-item-search {
    width: 100%;
    margin-right: 70px;
    @include breakpoint(large) {
      margin-right: inherit;
    }
  }
  .form-filters {
    details {
      padding: 0;
      margin: 0;
    }
    .reset-button-exposed {
      width: auto;
      text-decoration: underline;
      font-weight: 500;
      cursor:pointer;
      border: none;
      background: none;
      color: black;
      @include breakpoint(medium) {
        position: absolute;
        right: 0;
        top: 12px;
        padding-top: 1rem;
        font-size: 14px;
        .view-controls & {
          top:-6px;
        }
      }
      @include breakpoint(medium down) {
        display:none;
      }
    }
  }
}

//#filterModal > .reset-button{
//  display:none;
//}

#filterModal {
  @media (max-width: map-get($breakpoints, small)) {
    margin: -12px;
    padding: 24px;
    background-color: $white;
    width: calc(100% + 24px);
    z-index: 5;
  }
}

.view-filters {
  &:not(.facet-active) .reset-button-exposed {
    display: none;
  }
  &:has(.facet-active) .reset-button-exposed {
    display: block;
  }
}
.reset-button.reset-button.reset-button, .reset-button[type="submit"], .reset-button-exposed.reset-button-exposed.reset-button-exposed {
  font-weight: 500;
  font-size: 1rem;

  &:before {
    content: '✕';
    margin-right: 10px;
  }
  position: absolute;
  right: 0;
  bottom: 35px;
  margin: 0;
  width: auto;
  text-align:right;
  cursor: pointer;
  @include breakpoint(large) {
    position: absolute;
    top: 158px;
    bottom: unset;
    margin-right: 7px;
    margin-top: 16px;
    margin-bottom:32px;
    text-align:left;
  }
}

.form-filters, .facet-container {
  display: none;
  .filters-active &{
    display:flex;
  }
  @include breakpoint(large) {
    display:flex;
  }
  flex-direction:column;
  .facets-filters-label {
    order: -1;
    font-size: 1.625rem;
    line-height: 1.2;
    font-weight: 400;
    pointer-events: none;
    margin-bottom: 12px;
    @include breakpoint(medium down) {
      pointer-events: auto;
      font-weight: 700;
      font-size: rem-calc(22);
    }
    & + .reset-button{
      @include breakpoint(medium){
        display:none;
      }
    }
  }
  //not sure why medium down wasn't doing this
  //might want to replace the 1280px with a variable
  @media (max-width: map-get($breakpoints, small)) {
    position: absolute;
    top: 100%;
    z-index: 999;
    background-color: white;
    //box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    //making it take up full width of the screen
    width: calc(100% + (100vw - (75vw + 6px)));
    left: calc(-1 * (100vw - (75vw + 6px))/2);
    padding-left: calc((100vw - (75vw + 6px))/2);
    //offsetting the filter button
    padding-right: calc((100vw - (75vw + 6px))/2);
    &.hidden{
      display:none;
    }
    &.shown{
      display:block;
    }
    .block-facet__wrapper {
      margin-bottom: 16px;
      position: relative;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -32px;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(100% + 64px);
      height: 100%;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }
  }
  //@include breakpoint (xsmall down){
  //  left: -2rem;
  //  padding-left: 2rem;
  //  padding-right: 2rem;
  //}

  [data-facets-plugin-id="facet_block:article_type"] {
    display: none;
  }
}


