.molecule--tooltip--template {
  padding: 16px;
  color:white;
  background-color:$color--brand--warm-black;
  max-width: 284px;

  .vibrant & {
    background-color: white;
    color: $color--brand--warm-black;
  }
}


.molecule--tooltip {
  color: $color--brand--warm-black;
  width: 24px;
  height:24px;
  vertical-align:middle;
  &:hover {
    cursor: pointer;
  }
  i {
    font-size: 19px;
  }
  &:focus-visible {
    background-color: $color--brand--focus-yellow;
    border-bottom: 2px solid $color--brand--warm-black;
    outline: none;
  }
}
