@import '../../../05-organism/header/hamburger';

form.views-exposed-form, .view-controls, .search-controls {
  .toggle-filters {
    position: absolute;
    right: -43px;
    top: 14px;
    &.is-active {
      &:after {
        transform: rotate(180deg);
        transition: all ease-in-out 0.4s;
        color: $color--brand--warm-black;
      }
      span:last-child {
        width: 100%;
        bottom: -10px;
      }
    }
    @media (hover: hover) {
      &:hover {
        span:last-child {
          width: 100%;
          bottom: -10px;
        }
      }
    }
    @include breakpoint(large) {
      display:none;
    }
    @include icon-after(caret) {
      font-family: 'Material Symbols Outlined';
      content: '\e5cf';
      font-size: 20px;
      position: absolute;
      right: -27px;
      font-weight: 700;
    }
    span {
      &:nth-of-type(2) {
        width:75%;
        left: 12.5%;
      }
      &:nth-of-type(3) {
        width:25%;
        left: 37.5%;
      }
    }
  }
  div.form-type-search-api-autocomplete,
  div.form-item-keyword,
  .search-input,
  .js-form-item-search.form-item-search {
    border: 1px solid $color--brand--warm-black;
    background-color: $color--brand--pure-white;
    padding-right: 48px;
    padding-left: 48px;
    position: relative;
    display: flex;
    align-items: center;
    > .search-icon-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      padding: 12px;
    }
    &.form-item {
      [type=text] {
        font-size: 1rem;
        line-height: 1.5;
      }

      > label {
        display: none;
      }
      input:not(.search-icon-button) {
        cursor: pointer;
        padding-right: 10px;
        padding-left: 0;
        margin: 0 8px;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border: 0;
        color: $color--brand--warm-black;
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #000;
          font-weight: 500;
        }
      }
      ////&:has(input:focus-visible) {
      ////  outline: 4px solid $color--brand--focus-yellow;
      ////}
      //button {
      //
      //}
      input.form-autocomplete {
        background-image: unset;
      }
    }
    button {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
      color: $color--brand--warm-black;
    }
  }
  & > .reset-button{
    margin-right:7px;
  }
  .js-form-wrapper.zipcode-client {
    .js-form-type-textfield {
      position:relative;
      .search-button.search-button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        margin: 4px 0 0;
        background-color: transparent;
        border: none;
        color: $color--brand--warm-black;
        padding: 0 0 0 12px;
        &:hover {
          background-color:transparent;
          color: $color--brand--warm-black;
        }
      }

      input {
        padding-left: 36px;
        padding-right: 36px;
      }
    }
  }
  .site-search-bar__close.button--primary-link {
    position: absolute;
    margin-top: 2px;
    right: 8px;
  }

}

.using-tab {
  form.views-exposed-form, .view-controls, .search-controls {
    div.form-type-search-api-autocomplete,
    div.form-item-keyword,
    .search-input,
    .js-form-item-search.form-item-search {
      &.form-item {
        &:has(input:focus) {
          outline: 4px solid $color--brand--focus-yellow;
        }
        button:focus {
          outline: 4px solid $color--brand--focus-yellow;
        }
      }
    }
  }
}

.form-item-field-media-brandfolder-asset-value .search-button {
  display: none !important;
}
