/*
 * Micromodal - Universal Styles.
 */

.modal {
  position: relative;
  z-index: 999;

  /**
   * Overlay
   */
  .modal__overlay {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
  }

  /**
   * Container
   */
  .modal__container {
    background-color: $white;
    box-sizing: border-box;
    position: relative;
  }

  &.default {
    /*
     * Overlay
     */
    .modal__overlay {
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    /*
     * Container
     */
    .modal__container {
      max-width: 500px;
      max-height: 90vh;
      border-radius: 0;
      overflow-y: auto;
    }

    .modal__content {
      overflow-y: auto;
      padding: $spacing-8 rem-calc(18) $spacing-6;
    }
  }
}

/*
 * Animations
 */
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
  &.is-open {
    display: block;
  }
  &[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &.modal__container,
  & .modal__overlay {
    will-change: transform;
  }
}
