.organism--footer--menu {
  @include breakpoint(mobile_menu) {
    margin-bottom: $spacing-6;
  }
}

// Common styles for the footer menus.
.molecule--menu--footer,
.molecule--menu--footer-legal-links {
  // Override default link styles.
  .layout-container .bg-color-contrasting-warm-black & {
    a {
      @include link(reset);
    }

    @media (hover: hover) {
      a:not([class]) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .menu-level--0 > .menu-item--expanded > a:not([class]) {
      @include breakpoint(mobile_menu) {
        cursor: default;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  // Footer menu.
  > ul {
    > li.menu-item {
      a,
      p {
        @include top-bottom(padding, $spacing-3);

        display: block;
        font-size: $body-md-font-size;
        font-weight: $global-weight-medium;
        line-height: $body-md-line-height;
      }
    }

    // Footer sub-menu header.
    &.menu-level--0 {
      > .menu-item--expanded {
        > a,
        > p {
          font-size: $label-lg-font-size;
          line-height: $label-lg-line-height;
        }

        .menu-level--1 {
          margin-top: $spacing-2;
          padding-bottom: $spacing-2;
        }
      }

      // On mobile, we turn the menu into an Accordion Menu.
      // See 04-molecule/menu/footer/footer.js.
      &.accordion-menu {
        > li {
          border-top: 1px solid $color--brand--pure-white;

          &:last-child {
            border-bottom: 1px solid $color--brand--pure-white;
          }
        }

        > .menu-item--expanded {
          > a {
            position: relative;
            padding-right: 8px;
            white-space: normal;

            &:after {
              content: '\e5cf'; // Chevron down.
              font-family: $icon-font-family;
              position: absolute;
              top: 50%;
              transform: (translateY(-50%));
              right: 0;
              font-size: 1.5rem;
              height: 1.875rem;
              width: 1.875rem;
              padding: 3px;
              line-height: 1;
            }
          }

          &[aria-expanded='true'] {
            > a {
              &:after {
                content: '\e5ce';
              }
            }
          }
        }
      }
    }
  }
}
