$shapes: (
  umbrella: (
    shape: polygon(50% 0%, 80.9% 9.7%, 100% 35%, 100% 65%, 81% 90%, 50% 100%, 19% 90%, 0% 65%, 0% 35%, 19.5% 9.5%),
    default: polygon(50% 0%, 80.9% 0%, 100% 0%, 100% 100%, 81% 100%, 50% 100%, 19% 100%, 0% 100%, 0% 0%, 19.5% 0%),
  ),
  octagon: (
    shape: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%),
    default: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 0%),
  ),
  hexagon: (
    shape: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%),
    default: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%),
  ),
  hourglass: (
    shape: polygon(28% 50%, 0% 0%, 100% 0%, 71% 50%, 100% 100%, 0% 100%),
    default: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%),
  ),
  arrow: (
    shape: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%),
    default: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%),
  ),

  /*
   * The below shapes needs their hovers set.
   */
  umbrella--top: (
    shape: polygon(50% 0%, 80% 19%, 100% 71%, 100% 100%, 0% 100%, -2% 74%, 19% 20%),
    default: polygon(50% 0%, 80% 19%, 100% 71%, 100% 100%, 0% 100%, -2% 74%, 19% 20%),
  ),
  octagon--top: (
    shape: polygon(30% 0%, 70% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 60%),
    default: polygon(30% 0%, 70% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 60%),
  ),
  hexagon--top: (
    shape: polygon(50% 0%,100% 50%,100% 100%,0% 100%,0% 50%),
    default: polygon(50% 0%,100% 50%,100% 100%,0% 100%,0% 50%),
  ),
  hourglass--top: (
    shape: polygon(28% 100%, 72% 100%, 100% 0%, 0% 0%),
    default: polygon(28% 100%, 72% 100%, 100% 0%, 0% 0%),
  ),
  arrow--top: (
    shape: polygon(50% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%),
    default: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 50%),
  ),

  umbrella--bottom: (
    shape: polygon(50% 100%, 81% 80%, 100% 30%, 100% 0%, 0% 0%, 0% 30%, 19% 80%),
    default: polygon(50% 100%, 81% 80%, 100% 30%, 100% 0%, 0% 0%, 0% 30%, 19% 80%),
  ),
  octagon--bottom: (
    shape: polygon(30% 100%, 70% 100%, 100% 40%, 100% 0%, 0% 0%, 0% 40%),
    default: polygon(30% 100%, 70% 100%, 100% 40%, 100% 0%, 0% 0%, 0% 40%),
  ),
  hexagon--bottom: (
    shape: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%),
    default: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%),
  ),
  hourglass--bottom: (
    shape: polygon(28% 0%, 72% 0%, 100% 100%, 0% 100%),
    default: polygon(28% 0%, 72% 0%, 100% 100%, 0% 100%),
  ),
  arrow--bottom: (
    shape: polygon(100% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 0%),
    default: polygon(100% 0%, 100% 100%, 50% 100%, 0% 50%, 0% 0%),
  ),

  umbrella--left: (
    shape: polygon(100% 0%, 100% 100%, 39% 91%, 0% 66%, 0% 35%, 37% 10%),
    default: polygon(100% 0%, 100% 100%, 39% 91%, 0% 66%, 0% 35%, 37% 10%),
  ),
  octagon--left: (
    shape: polygon(60% 0%,100% 0%,100% 100%,60% 100%,0% 70%,0% 30%),
    default: polygon(60% 0%,100% 0%,100% 100%,60% 100%,0% 70%,0% 30%),
  ),
  hexagon--left: (
    shape: polygon(100% 0%,100% 100%,0% 75%,0% 25%),
    default: polygon(100% 0%,100% 100%,0% 75%,0% 25%),
  ),
  hourglass--left: (
    shape: polygon(56% 50%,0% 0%,100% 0%,100% 100%,0% 100%),
    default: polygon(56% 50%,0% 0%,100% 0%,100% 100%,0% 100%),
  ),
  arrow--left: (
    shape: polygon(100% 0%, 50% 0%, 0% 50%, 50% 100%, 100% 100%),
    default: polygon(100% 0%, 0% 0%, 0% 50%, 0% 100%, 100% 100%),
  ),

  umbrella--right: (
    shape: polygon(0% 0%, 0% 100%, 64% 90%, 100% 66%, 100% 34%, 64% 10%),
    default: polygon(0% 0%, 0% 100%, 64% 90%, 100% 66%, 100% 34%, 64% 10%),
  ),
  octagon--right: (
    shape: polygon(40% 0%,0% 0%,0% 100%,40% 100%,100% 70%,100% 30%),
    default: polygon(40% 0%,0% 0%,0% 100%,40% 100%,100% 70%,100% 30%),
  ),
  hexagon--right: (
    shape: polygon(0% 0%,0% 100%,100% 75%,100% 25%),
    default: polygon(0% 0%,0% 100%,100% 75%,100% 25%),
  ),
  hourglass--right: (
    shape: polygon(44% 50%,100% 0%,0% 0%,0% 100%,100% 100%),
    default: polygon(44% 50%,100% 0%,0% 0%,0% 100%,100% 100%),
  ),
  arrow--right: (
    shape: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%),
    default: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%),
  ),
);
