$spacing-1: .25rem;
$spacing-2: .5rem;
$spacing-3: .75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.25rem;
$spacing-10: 2.5rem;
$spacing-11: 2.75rem;
$spacing-12: 3rem;
$spacing-13: 3.25rem;
$spacing-14: 3.5rem;
$spacing-15: 3.75rem;
$spacing-16: 4rem;
$spacing-17: 4.25rem;
$spacing-18: 4.5rem;
$spacing-19: 4.75rem;
$spacing-20: 5rem;
$spacing-21: 5.25rem;
$spacing-22: 5.5rem;
$spacing-23: 5.75rem;
$spacing-24: 6rem;
$spacing-25: 6.25rem;
$spacing-26: 6.5rem;
$spacing-27: 6.75rem;
$spacing-28: 7rem;
$spacing-29: 7.25rem;
$spacing-30: 7.5rem;

$spacing--focus: $spacing-1;

// Spacing Variables
$base-spacing:    1rem !default;
$spacing-sm:      ($base-spacing * 0.5) !default;
