/*
 * Modal - Universal Style
 * - 01 - Imports
 * - 02 - General
 * - 03 - Default
 * - 04 - Full Width
 * - 05 - Animations
 */

/*------------------------------------*\
  02 - General
\*------------------------------------*/

/**
 * Modal
 */
.modal {
  position: relative;
  z-index: 999;
  text-align: center;

  .form-item { @include left-right(margin, auto); }
}

/**
 * Trigger
 */
.modal-trigger {
  cursor: pointer;
}

/**
 * Overlay
 */
.modal .modal__overlay {
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
}

/**
 * Container
 */
.modal .modal__container {
  background-color: $white;
  box-sizing: border-box;
  position: relative;
}

/**
 * Close
 */
.modal__close {
  background: transparent;
  border: 0;
  color: $black;
  padding: $spacing-2;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  &:before {
    content: "\2715";
  }
}

.modal__content {
  // Correct styles from parent container
  .horz-align--center & {
    text-align: left;
  }
  .text-color--light-primary &,
  .text-color--light & {
    color: $black;
    @include selectors(headers) {
      color: $black;
    };
    @include selectors(body-text) {
      color: $black;
    }
  }

  // Video

  .video-js {
    width: 100%;
    margin-top: 7px;

  }
  .field--name-field-asset { width: 240px; }
  @include breakpoint(medium) { .field--name-field-asset { width: 404px; }}
}





/*------------------------------------*\
  03 - Default
\*------------------------------------*/

/*
 * Overlay
 */
.modal.default .modal__overlay {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
 * Container
 */
.modal.default .modal__container {
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  padding: $spacing-12;
}


/*
 * Close
 */
.modal.default .modal__close {
  top: 0;
  right: 0;
}





/*------------------------------------*\
  04 - Full Width
\*------------------------------------*/

/*
 * General
 */
.modal.full-width {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

/*
 * Overlay
 */
.modal.full-width .modal__overlay {
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

/*
 * Container
 */
.modal.full-width .modal__container {
  height: 100%;
  padding: $spacing-20 0;
  top: 0;
  width: 100%;

  @include breakpoint(medium) {
    padding: $spacing-14 $spacing-12;
  }
}

// Alter video modal width
.modal[id^=video-modal] .modal__container {
  min-width: 80%;
  @include breakpoint(medium) {
    min-width: 60%;
  }

  .field--name-field-asset {
    width: 100%;
  }

  .qumu-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .qumu-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * Close
 */
.modal.full-width .modal__close {
  top: $spacing-2;
  right: $spacing-2;

  &:before { font-size: 32px; }

  @include breakpoint(medium) {
    top: $spacing-4;
    right: $spacing-4;
  }
}

/*
 * Elements
 */
.modal.full-width {
  // Content
  .modal__content {
    //@include content-width(small);
    max-width: 856px; //792
    margin: 0 auto;
    max-height: 80vh;
    overflow: auto;
    position: relative;
  }

  // Media
  .field--name-field-media { margin-bottom: 40px; }

  // Name, Position and Title
  .person__name,
  .field--name-field-title {
    font-size: rem-calc(30);
    text-align: left;
  }

  // Bio field.
  .field--name-body {
    font-size: rem-calc(20);
    margin-top: 40px;
    text-align: left;

    @include breakpoint(medium) {
      font-size: rem-calc(24);
    }

  }
}

/*------------------------------------*\
  05 - Interstitial
\*------------------------------------*/

/*
 * Overlay
 */
.modal.interstitial-message .modal__overlay {
  background: rgba(0,0,0,0.8);
}

.modal.interstitial-message {
  .modal__content {
    // @todo add interstitial-message styles here.
  }
}

.layout-container.blur {
  & > header,
  .region-highlighted,
  #main-content,
  & > footer {
    filter: blur(20px);
  }
}





/*------------------------------------*\
  05 - Animations
\*------------------------------------*/

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
  &.is-open {
    display: block;
  }
  &[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &.modal__container,
  & .modal__overlay {
    will-change: transform;
  }
}
