.molecule--site-branding {
  width: 152px;

  @include breakpoint(medium) {
    width: 184px;
  }

  @include breakpoint(mobile_menu) {
    position: relative;
    z-index: 99;
    margin-right: rem-calc(16);
  }

  @include breakpoint(xlarge) {
    margin-right: rem-calc(133);
    width: 248px;
  }

  a.site-branding__logo {
    display: block;
    padding-top: 4px;
    padding-bottom: 10px;

    @include breakpoint(medium) {
      padding-bottom: 12px;
    }

    @include breakpoint(mobile_menu) {
      padding-top: 2px;
      padding-bottom: 12px;
    }

    svg, img {
      display: block;
      height: 26px;

      @include breakpoint(medium) {
        height: 32px;
      }

      @include breakpoint(xlarge) {
        height: 42px;
      }
    }
  }
}
