.view-id-acquia_search.view-display-id-page_aries {
  @include top-bottom(padding, $spacing-4);

  @include breakpoint(medium) {
    @include top-bottom(padding, $spacing-12);
  }

  @include breakpoint(large) {
    @include top-bottom(padding, $spacing-20);
  }

  .view-header,
  .view-empty {
    font-size: rem-calc(18);
    line-height: 1.5;

    margin-top: $spacing-6;

    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }

    @include breakpoint(large) {
      margin-top: 0;
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(24);
    }
  }

  .view-content {
    .views-row {
      margin-top: $spacing-4;

      @include breakpoint(medium) {
        margin-top: $spacing-12;
      }

      @include breakpoint(large) {
        margin-top: $spacing-20;
      }
    }

    h3 {
      font-size: rem-calc(20);
      line-height: 1.5;
      margin-bottom: $spacing-4;

      @include breakpoint(medium) {
        font-size: rem-calc(22);
      }

      @include breakpoint(large) {
        font-size: rem-calc(24);
      }
    }

    .node__content {
      font-size: rem-calc(20);
      line-height: 1.5;
    }
  }

  .atom--form--exposed-filters {
    .form-filters,
    .toggle-filters,
    button.submit-button-exposed.submit-button-exposed.submit-button-exposed {
      display: none;
    }

    .form-item-keyword {
      margin: 0;

      &:focus-visible {
        outline: 8px solid $color--focus--yellow;
      }
    }
  }

  .pager {
    margin-top: $spacing-4;

    @include breakpoint(medium) {
      margin-top: $spacing-12;
    }

    @include breakpoint(large) {
      margin-top: $spacing-20;
    }

    .pager__items {
      justify-content: end;
    }
  }
}
