.molecule--contact-info-item {
  margin-bottom: $spacing-8;
  .contact-info-phone {
    @include materialicon-before(call) {
      margin-right: $spacing-1;
      color: $color--brand--warm-black;
      vertical-align: middle;
      font-size: $body-xl-font-size;
      line-height: $body-xl-line-height;
      font-weight: 500;
    }
  }

  .contact-info-hours {
    position: relative;
    .office-hours {
      .office-hours__item-label {
        font-weight: 400;
        margin-right: $spacing-1;
      }
      .office-hours__item {
        font-size: $body-md-smallscreen;
        @include breakpoint(large) {
          font-size: $body-md-font-size;
        }
      }
      .office-hours__item:first-of-type {
        @include materialicon-before(calendar_today) {
          margin-right: $spacing-1;
          color: $color--brand--warm-black;
          vertical-align: middle;
          font-size: $body-xl-font-size;
          line-height: $body-xl-line-height;
          font-weight: 500;
        }
      }
      .office-hours__item:not(:first-of-type) {
        margin-left: 28px;
      }
      .timezone {
        display: none;
      }
      .office-hours__item:last-of-type {
        .timezone {
          display: inline;
        }
      }
    }
  }

  .contact-form-button-open {
    @include materialicon-before(mail) {
      margin-right: $spacing-1;
      color: $color--brand--warm-black;
      vertical-align: middle;
      font-size: $body-xl-font-size;
      line-height: $body-xl-line-height;
      font-weight: 500;
    }
    .molecule--modal--form-modal {
      display: inline-block;
    }
  }
}

