.molecule--modal--trigger button {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 6rem;
  height: 6rem;
  border: 5px #fff solid;
  border-radius: 100%;
  cursor: pointer;
  font-size: 0;
  transform: translate(0, -50%);
  box-shadow: 0 0 2px 0 rgba(34, 34, 34, 0.14), 0 2px 2px 0 rgba(34, 34, 34, 0.12), 0 1px 3px 0 rgba(34, 34, 34, 0.2);
  margin-left: -2.5rem;

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    top: 1px;
    left: 3px;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent white;
  }
}
