.block--comparison-cards {
  max-width: rem-calc(1296);
  margin: 0 auto;

  @include breakpoint(xsmall) {
    .paragraph--type--comparison-feature.paragraph--view-mode--default {
      padding: 24px 0;
    }
  }

  @include breakpoint(small) {
    .paragraph--type--comparison-feature.paragraph--view-mode--default {
      padding: 24px 0;
    }
  }

  @include breakpoint(medium) {
    .paragraph--type--comparison-feature.paragraph--view-mode--default {
      padding: 24px 0;
    }
  }

  @include breakpoint(large) {

    // 960px and above
    .top-item-count-3,
    .top-item-count-2 {
      .paragraph--type--comparison-card.paragraph--view-mode--default {
        padding: 24px 16px 24px 0;
      }
    }

    .top-item-count-3 {
      .paragraph--type--comparison-feature.paragraph--view-mode--default {
        padding: 24px 0 24px 0;
      }
    }

    .top-item-count-2 {
      .paragraph--type--comparison-feature.paragraph--view-mode--default {
        padding: 24px 0 24px 16px;
      }
    }

    .top-item-count-2 {
      .paragraph--type--comparison-feature.paragraph--view-mode--default {
        padding-bottom: 16px;
      }
    }
  }

  @include breakpoint(xlarge) {

    // 1440px and above
    .top-item-count-3,
    .top-item-count-2 {
      .paragraph--type--comparison-feature.paragraph--view-mode--default {
        padding: 24px 0 24px 16px;
      }

      .paragraph--type--comparison-card.paragraph--view-mode--default {
        padding: 24px 16px 24px 0;
      }
    }
  }

  .field--name-field-p-comparison-cards {
    @include breakpoint(large) {
      display: flex;
      justify-content: center;
    }

    &>.field__item {
      margin: 2rem 0 0;

      @include breakpoint(large) {
        flex: 1;

        &.top-item-count-3 {
          width: rem-calc(416); // Width for 3 products
        }

        &.top-item-count-2 {
          width: rem-calc(636); // Width for 2 products
        }

        &:not(:first-child) {
          margin-left: 24px;
          /* Add margin only for second and third cards */
        }

        &:last-child {
          margin-right: 0;
          /* No right margin for the last card */
        }
      }
    }
  }

  .paragraph--type--comparison-card.paragraph--view-mode--default {
    background: $white;
    height: 100%;

    .comparison-card-heading {
      .heading {
        p {
          @include breakpoint(medium only) {
            margin-bottom: 12px;
            font-weight: $global-weight-normal;
          }
        }
      }

      .field--name-field-description {
        p {
          font-size: $heading-xs-font-size;
          line-height: $heading-xs-line-height;
        }
      }
    }

    &>.field+.field--name-field-p-features {
      margin-top: 2rem;
    }


    &>.field--name-field-description {
      font-weight: $global-weight-normal;

    }


    .field--name-field-p-features {
      &>.field__item:first-child {
        .paragraph--type--comparison-feature {
          border-top: $color--light-grey-2 solid 1px;
        }
      }

      display: flex;
      flex-direction: column;

      &>.field__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .paragraph--type--comparison-feature {
          display: flex;
          flex-direction: column;
          flex: 1; // Grow to equal heights
          border-bottom: 1px solid $color--inactive-grey;

          border-bottom: $color--light-grey-2 solid 1px;

          @include breakpoint(small) {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
          }

          .field--name-field-heading-formatted {
            font-weight: 700;
            overflow-wrap: break-word;
            margin-bottom: 0.5rem;

            @include breakpoint(small) {
              min-width: 45%;
              flex: 0 0 auto;
              margin-bottom: 0;
            }

            p {
              font-size: $heading-xs-font-size;
              line-height: $heading-xs-line-height;
            }
          }

          .field--name-field-description {
            @include breakpoint(small) {
              flex: 1 0 auto;
              margin-top: 12px;
            }
          }
        }
      }
    }

    .field--name-field-p-features+.field--name-field-p-links {
      margin-top: 1rem;

      @include breakpoint(large) {
        padding-left: 16px;
      }
    }

    .field--name-field-p-links {
      .links {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    .field--name-field-p-links {

      .paragraph--type--link-default,
      .paragraph--type--link-file {
        a {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
          font-weight: 600;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}