.organism--view-sidebar-grid {
  // Top filters
  //[id*="edit-article-type-collapsible"] {
  //  display: none;
  //}
  .top-filter-wrapper {
    .top-filters {
      align-items: center;
      letter-spacing: 0.5px;

      margin-bottom: 24px;

      label {
        display: none;
      }

      .form-item-sort-bef-combine {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        order: 3;
        select {
          width: fit-content;
        }
      }
      .form-type-select {
        margin-top: 0;
        margin-bottom: 0;
      }

      .input-wrapper--reset {
        cursor: pointer;
        margin: 0;
        input {
          font-size: rem-calc(16);
        }
      }
    }
  }

  // Mobile modal trigger button
  .mobile-modal-trigger {
    background-color: $color--black;
    margin: 0;
    min-height: 40px;
    padding: 0 $spacing-8 0 $spacing-4;
    top: 0;
    width: 100%;
    button.trigger-button {
      cursor: pointer;
      font-size: rem-calc(12);
      line-height: 18px;
      width: 100%;
      .icon-add {
        &:before {
          color: $color--black;
          font-size: rem-calc(14);
        }
      }
    }
  }

  // View content
  .view--wrapper {
    // Spacing between grid items
    margin-top: 0;
    .view-content {
      padding-top: $spacing-2;
      @include breakpoint(large) {
        padding-top: $spacing-1;
      }
      > .grid-x {
        //row-gap: $spacing-4;
        //@include breakpoint(large) {
        //  row-gap: $spacing-5;
        //}
        //.cell {
        //  margin: 0 calc(#{$spacing-5} / 2);
        //}
      }
    }
  }

  .cell > .views-field, .cell > .views-field > .field-content {
    height: 100%;
  }
}

// Specific spacing styles
.reveal-wrapper {
  @include breakpoint(xsmall down) {
    margin-top: $spacing-11;
  }

  .side-filters {
    @include breakpoint(medium down) {
      margin: 0;
      width: 100%;
    }
  }
}
form {
  @include breakpoint(medium down) {
    padding-top: $spacing-7;
  }
}
.filters-wrapper {
  @include breakpoint(large) {
    margin-top: $spacing-5;
  }

  button[type="submit"] {
    width: 100%;
    &:after {
      content: none !important;
    }
  }
}

// Side filters
.show-more{
  text-decoration:underline;
  cursor:pointer;
  color:$color--brand--warm-black;
  text-align:left;
  font-weight:500;
  width:100%;
  .organism--facet-checkbox &{
    margin-left:12.5px;
  }
}
.side-filters {
  @include breakpoint(large) {
    border-radius: 16px;
    margin-left: auto;
    padding: 16px;
  }

  .results-count {
    font-size:20px;
    margin-bottom: 32px;
    @include breakpoint(large down){
      margin-bottom: 16px;
    }
  }

  form.views-exposed-form > div {
    .form-item-sort-bef-combine {
      @include breakpoint(large) {
        display: none;
      }
    }
    .bef--secondary {
      @include breakpoint(large) {
        details + details {
          margin-top: 16px;
        }
        > summary {
          display: block;
        }
        margin-bottom: 0;
        padding-top: $spacing-4;
      }
    }
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
    summary + .details-wrapper {
      margin-left: 12.5px;
    }
  }

  .bef-links-use-ajax,
  form .form-actions {
    display: none;
  }

  .form-actions {
    input.button {
      width: 100%;
      + input.button {
        @include btn(secondary);
        border: 1px solid $color--brand--aegon-blue;
        margin-top: 20px;
        margin-left: 0;
        &:hover {
          border: 1px solid $color--brand--aegon-blue;
        }
      }
    }
  }
}

