.organism--animated-gif {
  .media {
    display: flex;
    justify-content: center;
  }
}

// Override margin on a following card so they appear closer together.
.block--animated-gif + .block--card {
  margin-top: 0 !important;
}
