.view-content--view-list {
  .view-content--row-list {
    .organism-view-content {
      .organism-list-content {
        margin-top: $spacing-10;
      }
    }

    .molecule--npr-teaser {
      .molecule--copy {
        .heading {
          font-size: $body-lg-font-size;
          line-height: $body-lg-line-height;
          margin-bottom: 0;
          font-weight: $font-weight-medium;

          @include breakpoint(medium) {
            font-size: $body-xl-font-size;
            line-height: $body-xl-line-height;

          }

        }

        .description {
          margin-top: $spacing-6;
          margin-bottom: $spacing-6;

          p {
            display: inline;
            font-size: $body-md-smallscreen;
            line-height: $body-md-line-height;

            @include breakpoint(medium) {
              font-size: $body-lg-font-size;
              line-height: $body-lg-line-height;

            }
          }

        }
      }

      .npr-teaser-link {
        .button.button--tertiary:focus-visible {
          background-color: transparent;
        }
      }
    }
  }

  .pager {
    margin-top: $spacing-10;
  }

}
