.organism--multi-stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  --left-right-column-gap: 24px;
  --column-height: 606px;
  --right-column-section-height: 274px;
  --right-column-section-gap: 24px;
  --left-column-left-right-padding: 16px;
  --right-column-copy-left-right-padding: 16px;
  --right-column-copy-top-bottom-padding: 16px;
  --right-column-description-font-size: 18px;
  --right-column-description-line-height: 27px;

  @include breakpoint(small) { // 360
    --right-column-section-height: 224px;
  }

  @include breakpoint(medium) { // 600
    --column-height: 716px;
    --right-column-section-gap: 32px;
    --left-column-left-right-padding: 32px;
    --right-column-section-height: 255px;
    --right-column-copy-left-right-padding: 24px;
    --right-column-description-font-size: 20px;
    --right-column-description-line-height: 30px;
  }

  @include breakpoint(large) { // 960
    flex-direction: row;
    --right-column-section-gap: 32px;
    --left-column-left-right-padding: 32px;
    --right-column-copy-left-right-padding: 24px;
    --right-column-description-font-size: 20px;
    --right-column-description-line-height: 30px;
    &.sections-2 {
      --column-height: 600px;
      --right-column-section-height: 284px;
      --margin-left-top: -40px;
      --right-column-copy-left-right-padding: 32px;
      --right-column-description-font-size: 20px;
      --right-column-description-line-height: 30px;
    }
    &.sections-3 {
      --column-height: 736px;
      --right-column-section-height: 224px;
      --right-column-description-font-size: 20px;
      --right-column-description-line-height: 30px;
    }
    &.sections-4 {
      --column-height: 872px; //878px;
      --right-column-section-height: 194px;
      --right-column-copy-top-bottom-padding: 8px;
      --right-column-description-font-size: 16px;
      --right-column-description-line-height: 24px;
    }
  }
  @include breakpoint(xlarge) {  // 1440
    flex-direction: row;
    --left-column-left-right-padding: 64px;
    --right-column-copy-left-right-padding: 64px;
    --right-column-copy-top-bottom-padding: 16px;
    --right-column-description-font-size: 20px;
    --right-column-description-line-height: 30px;
    &.sections-2 {
      --right-column-section-gap: 40px;
      --column-height: 672px;
      --right-column-section-height: 316px;
      --right-column-copy-left-right-padding: 64px;
      --right-column-copy-top-bottom-padding: 24px;
      --right-column-description-font-size: 24px;
      --right-column-description-line-height: 36px;
    }
    &.sections-3 {
      --right-column-section-gap: 40px;
      --column-height: 692px;
      --right-column-section-height: 204px;
      --right-column-description-font-size: 20px;
      --right-column-description-line-height: 30px;
    }
    &.sections-4 {
      --right-column-section-gap: 32px;
      --column-height: 912px;
      --right-column-section-height: 204px;
      --right-column-copy-top-bottom-padding: 16px;
      --right-column-description-font-size: 20px;
      --right-column-description-line-height: 30px;
    }
  }

  gap: var(--left-right-column-gap); //24px;
  min-height: var(--column-height); //606px;

  .left {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    height: var(--column-height);
    overflow: hidden;
    flex: 1 1 calc(50% - 12px);
  }
  .right{
    flex: 1 1 calc(50% - 12px);
    background-color: white;
    .main-section {
      display: flex;
      flex-direction: column;
      gap: var(--right-column-section-gap); //24px;
    }
    .sub-section {
      display: flex;
      align-items: center;
      height: var(--right-column-section-height);
    }
  }
  &--media-wrapper {
    padding-top: 24px;
    flex-grow: 1;
  }
  &--media {
    height: 100%;
    width: 100%;
  }
  &--copy-wrapper {
    .molecule--copy {
      .heading {
        @include breakpoint(medium) {
          font-size: $heading-lg-font-size;
          line-height: $heading-lg-line-height;
        }
      }
      .micro-title {
        font-size: 20px;
        line-height: 24px;
      }
      .description {
        @include breakpoint(xlarge) {
          font-size: $body-xl-font-size;
          line-height: $body-xl-line-height;
        }
      }
    }
    padding: 0 var(--left-column-left-right-padding);
  }
  .copy {
    .molecule--copy {
      .heading {
        @include breakpoint(medium) {
          font-size: 48px;
          line-height: 52.8px;
        }
      }
      .description {
        font-size: var(--right-column-description-font-size);
        line-height: var(--right-column-description-line-height);
      }
      padding: var(--right-column-copy-top-bottom-padding) var(--right-column-copy-left-right-padding);
    }
  }
}
