details {
  border: none;
  &.bef--secondary {
    > summary {
      font-size: rem-calc(26);
      line-height: 1.2;
      font-weight: 400;
      pointer-events: none;
      margin-bottom: 8px;
      &:after {
        display: none;
      }
    }
  }
  summary {
    padding: 0;
    align-items: center;
    font-size: rem-calc(20);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 8px 0px 8px 0px;
    &:after {
      font-family: 'Material Symbols Outlined', sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    &[aria-expanded="false"] {
      &:after {
        content: "\e5cf";
      }
    }
    &[aria-expanded="true"] {
      &:after {
        content: "\e5ce";
      }
    }
    &::marker {
      content: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  .details-wrapper {
    padding: 0;
    position: relative;
    z-index: 1;
  }
}
