.molecule--menu--footer {
  // Footer menu.
  > ul {
    @include breakpoint(large) {
      display: grid;
      gap: $spacing-8 $spacing-8;
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(xlarge) {
      gap: $spacing-16 $spacing-16;
    }
  }
}
