.organism--secondary-nav {
  width: 100%;
  display: none;
  @include breakpoint(large) { // 960px or more
    display: block;
  }

  .secondary-nav {
    align-items: center;
    position: relative;
    z-index: 1;
    background: $color--brand--pure-white;
    transition: top 0.5s linear;
    width: 100%;

    @include breakpoint(xlarge) { // for viewport of 1440 and more
      padding-top:8px;
      margin-top: 9px;
      margin-bottom: 8px;
      margin-left: auto;
      margin-right: auto;
    }
    .secondary-nav-wrapper {
      position: relative;
      max-width: 90rem;

      overflow: hidden;
      transition: background-color 300ms ease;

      display: flex;
      align-items: center;

      .nav-header {
        display: flex;
        align-items: center;

        .navigation {
          display: flex;
          flex-wrap: wrap; // Allow wrapping of items

          li {
            height: 48px; // Height for each wrapped line
            line-height: 48px; // Center text vertically within each item
          }
        }
      }
    }

    .nav-header {
      display: flex;
      align-items: flex-start;
      gap: 14px;
      position: relative;
    }

    .page-title {
      height: 48px;
      box-sizing: border-box;
      align-items: center;
      position: relative;
      font-size: $body-md-font-size;
      display: none;
      font-weight: $font-weight-bold;
      margin: 8px 0 8px 0;
      white-space: nowrap; /* Prevent title from wrapping */
      align-self: flex-start; /* Ensure the page title is top-aligned */
      @include breakpoint(medium) {
        padding: 0.5rem 1.5rem 0.5rem 0rem;
        display: flex;
      }
      &:after {
        content: '';
        background: $color--brand--warm-black;
        width: 2px;
        height: 20px;
        margin: -2px;
        position: absolute;
        right: 0;
        top: 53%;
        transform: translateY(-50%);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 8px 0 8px 0;
      width: 100%;
      background: $color--brand--pure-white;
      transition: transform 300ms ease;

      @include breakpoint(medium) {
        transform: translateY(0);
        display: flex;
      }

      li {
        box-sizing: border-box;
        height: auto;
        display: flex;
        align-items: center;
        position: relative;
        font-size: $body-md-font-size;
        font-weight: $font-weight-medium;

        > a {
          position: relative;
          padding: 0.5rem 0.75rem 0.5rem 0.75rem;
          color: $color--brand--warm-black;
          display: inline-flex;
          align-items: center;
          text-decoration: none;
          font-weight: $font-weight-medium;
          box-sizing: border-box;
          letter-spacing: -0.1px;
          white-space: nowrap;
          &:before {
            content: '';
            position: absolute;
            bottom: 20px;
            left: 12px;
            width: calc(100% - 24px);
            height: 0.1em;
            background-color: black;
            opacity: 1;
            transition: opacity 300ms, transform 300ms;
            transform: scale(0);
            transform-origin: center;
          }

          &.active,
          &:hover {
            &:before {
              transform: scale(1);
            }
          }
          &:focus-visible {
            background-color: $color--focus--yellow;
          }
        }
      }
    }
  }
}

