tra-layout-sidebar, .tra-layout-sidebar {
  .form-filters {
    #toggle-drawer {
      margin-left: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      height: 48px;
      margin-bottom: 1rem;
      span:first-of-type {
        margin-right: 0.5rem;
      }
    }
    .filter-drawer {
      @include breakpoint(medium down) {
        display: none;
        &.active {
          display: flex;
          flex-direction: column;
          position: fixed;
          overflow-y: auto;
          top: 56px;
          @include breakpoint(small down) {
            top: 48px;
          }
          height: calc(100vh - 56px);
          min-width: 290px;
          padding: 24px;
          padding-bottom: calc(96px);
          right: 0;
          z-index: 10;
          background-color: $color--brand--pure-white;
          .facets-filters-label {
            width: 100%;
          }
          .mobile-actions {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            background: $color--brand--pure-white;
            position: fixed;
            bottom: 0;
          }
        }
      }
    }
  }

}
