.organism--disclaimer.organism--disclaimer {
  @include breakpoint(small) {
    display: block;
  }

  .accordion {
    background-color: transparent;
  }

  .molecule--accordion-item {
    a {
      &:focus-visible {
        background-color: $color--brand--focus-yellow;
      }
    }
  }

  .molecule--accordion-item:first-of-type:before {
    background: $color--white;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
  }

  @include breakpoint(large) {
    .molecule--accordion-item--header {
      display: flex;
    }

    .molecule--accordion-item--header::after {
      margin-left: 16px;
    }

    .molecule--accordion-item ::after {
      transition: 0.4s ease-in-out;
      position: relative;
    }
  }

  .is-sticky {
    position: fixed;
    background-color: $color--white;
    z-index: 5;
    width: 95%;
    top: 48px;
  }

  .molecule--accordion-item--title {
    font-size: $body-lg-font-size;
    line-height: $body-lg-line-height;
  }

  .molecule--accordion-item--description p {
    font-size: $body-sm-font-size;
    line-height: $body-sm-line-height;
    word-wrap: break-word;
  }
}

@each $name, $color in $vibrant-bg-colors {
  .bg-color--#{$name} {
    .organism--disclaimer {

      .molecule--accordion-item--header,
      .accordion-content {
        color: $color--brand--warm-black;
        background-color: $color;
      }
    }
  }
}

@each $name, $color in $contrasting-bg-colors {
  .bg-color--#{$name} {
    .organism--disclaimer {

      .molecule--accordion-item--header,
      .accordion-content {
        color: $color--brand--pure-white;
        background-color: $color;
      }
    }
  }
}
