.molecule--header-meta.molecule--header-meta {
  padding: $spacing-2 0 1.4rem;
  @include breakpoint(medium) {
    padding: $spacing-2 0 2.9rem;
  }
  .meta-item {
    font-weight: 500;
    &:after {
      content: '•';
      margin: 0 10px;
    }
    &:last-of-type:after {
      content: none;
    }
  }
}

