// Pager
.pager .pager__items, .pagination-wrapper .ngx-pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  align-items: center;
}

.pager, .pagination-wrapper .ngx-pagination {
  .pager__item {
    display: inline-flex;
    padding: 0;
  }

  .ellipsis {
    pointer-events: none;
  }

  .pager__item a, li a, li.current span {
    padding: 14.4px 20px;
    @include breakpoint(xsmall down) {
      padding: 14.4px 10px;
    }
    text-decoration: unset;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    border-radius: 50px;
    &:hover {
      text-decoration: unset;
      color: inherit;
      font-weight: 500;
      color: $color--brand--contrasting--lavender-purple;
      background: $color--neutral-100;
    }
    &:focus {
      background-color: $color--brand--focus-yellow;
      color: $color--brand--warm-black;
      outline: none;
    }
  }

  .pager__item.is-active, .pager__item.pager__item.is-active.is-active a {
    font-weight: bold;
  }

  li.current {
    span {
      font-weight: bold;
    }
  }

  .pager__item--ellipsis {
    width: 24px;
    height: 44px;
  }

  .pager__item--ellipsis, .pager__item--next, .pager__item--previous {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(xsmall down) {
      width: 28px;
    }
  }

  .pager__item--ellipsis {
    width: 46px;
    @include breakpoint(xsmall down) {
      width: 28px;
    }
  }

  .pager__item--next, .pagination-next,
  .pager__item--previous, .pagination-previous {
    //font-size: 0;
    //display: flex;
    a {
      position: relative;
      //width: 24px;
      //height: 44px;
      padding: 0;
      padding: 14px 12px;
      display: flex;
      align-items: center;
      @include breakpoint(xsmall down) {
        width: 28px;
      }
      span {
        position: absolute !important;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
      }
      &:after {
        content: '\e5cf';
        font-family: $icon-font-family;
        //position: absolute;
        //right: 0;
        font-size: 1.5rem;
        //margin-top: -4px;
      }
    }
  }

  .disabled {
    display: none !important;
  }
  .pager__item--next, .pagination-next {
    //margin-left: 15px;
    justify-content: flex-end;
    a {
      justify-content: flex-end;
    }
    a:after {
      transform: rotate(-90deg);
    }
  }
  .pager__item--previous, .pagination-previous {
    //margin-right: 15px;
    a:after {
      transform: rotate(90deg);
      left: 0;
    }
  }
  .pager__item--last,
  .pager__item--first {
    display: none;
  }
}

.ngx-pagination.ngx-pagination.ngx-pagination {
  li {
    @include breakpoint(xsmall down) {
      flex: 1 1 auto;
    }
  }
  li:not([class*="pagination"]) {
    display: none;
  }
  li.current, li.current + li, li:has(+ li.current) {
    display: inline-flex;
  }
  li.current + li + li:not([class*="pagination"]), li:has(+ li + li.current) {
    display: flex;
    align-items: center;
    span, a {
      display: none;
    }
    &:after {
      content: '...';
      display: inline-flex;
      padding: 14.4px 20px;
    }
  }
  .small-screen.small-screen {
    display: none;
  }

  .small-screen + li.current + li + li {
    display: inline-flex;
    span, a {
      display: inline-flex;
    }
    &:after {
      display: none;
    }
    + li:not([class*="pagination"]) {
      display: flex;
      align-items: center;
      span, a {
        display: none;
      }
      &:after {
        content: '...';
        display: inline-flex;
        padding: 14.4px 20px;
      }
    }
  }

  li:has(+ li + li.current + li[class*="pagination"]):not(.small-screen) {
    display: inline-flex;
    span, a {
      display: inline-flex;
    }
    &:after {
      display: none;
    }
  }

  li:has(+ li + li + li.current + li[class*="pagination"]):not([class*="pagination"]):not(.small-screen) {
    display: flex;
    align-items: center;
    span, a {
      display: none;
    }
    &:after {
      content: '...';
      display: inline-flex;
      padding: 14.4px 20px;
    }
  }
}
