.molecule--tabbed-info-card {
  padding: 1.5rem;
  padding-top: 0;
  @include breakpoint(medium) {
    padding: 2rem;
    padding-top: 0;
  }


  .icon-wrapper {
    max-width: 96px;
  }

  h2 {
    margin-top: 1.5rem;
  }

  .description {
    margin-top: 1rem;
  }
}
