.main-filters {
  background-color: $color--white;
  min-height: 100%;
  width: 100%;

  &.reveal {
    padding: $spacing-4;
  }

  // Close button
  button.close-button {
    cursor: pointer;
    margin: 0 $spacing-4 0 0;
    padding: $spacing-1;

    .icon-close {
      &:before {
        color: $color--black;
        font-size: rem-calc(10);
      }
    }
  }

  // Specific form spacing
  form.views-exposed-form > div, .view-controls > div.atom--form--exposed-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-item-text {
      width: 100%;
    }

    .form-filters {
      width: 100%;
    }

    > * {
      order: 4;
    }

    .form-item-search {
      order: 1;
    }

    .input-wrapper--reset {
      display: none;
    }

    .form-item-sort-bef-combine {
      margin: $spacing-5 0;
      order: 3;
    }

    .bef--secondary {
      margin-bottom: $spacing-3;
    }

    // Submit button
    .form-actions {
      margin: 0;
      order: 2;

      input {
        @include btn(primary);
        width: 100%;
      }
    }
  }

  @include breakpoint(large down) {
    //repositioning clear filters button on mobile
    .view-controls {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      & > .view-header, & > .atom--form--exposed-filters {
        width: 100%;
      }

      .facets-filters-label {
        margin-bottom: 0;
      }


    }
  }

}
