.organism--horizontal-card--align--left .organism--horizontal-card--left-cell,
.organism--horizontal-card--align--right
.organism--horizontal-card--right-cell {
  order: 2;
  @include breakpoint(small down){
    height: unset;
  }
  @include breakpoint(medium) {
    order: initial;
  }
}

//.organism--horizontal-card .organism--horizontal-card--align--left {
//  @include breakpoint(medium) {
//    margin-left: -3rem;
//  }
//}
//
//.organism--horizontal-card .organism--horizontal-card--align--right {
//  @include breakpoint(medium) {
//    margin-right: -3rem;
//  }
//}

.organism--horizontal-card {

  &--media {
    height: 100%;
    width: 100%;
    aspect-ratio: 1.2/1;
    @include breakpoint(medium) {
      aspect-ratio: 3/1;
    }
    @include breakpoint(large) {
      aspect-ratio: initial;
    }
    @include breakpoint(small down) {
      //@TODO this might need to go in molecule--background-media? or find another solution for this
      //non-shaped background media still needs padding (?) while shaped needs to not have padding
      .molecule--background-media:not(.shape){ //shapes need to not have padding it seems?
        img {
          padding: 1rem 1.5rem 1.5rem;
          .left & {
            padding: 1.5rem 1.5rem 0;
          }
        }
      }
    }
  }



  &--grid {
    padding: $spacing-6 0;
    //needed a way to split the gap between the two while still allowing one column to be larger
    @include breakpoint(small down){
      flex-direction:column;
      justify-content:space-between;
    }
    @include breakpoint(medium) {
      .left {
        padding-right: 0px;
      }
      .right{
        padding-left: 48px;
      }
    }
    @include breakpoint(medium) {
      min-height:440px;
    }
  }

  &--align--right {
    @include breakpoint(medium) {
      .left {
        padding-right: 48px;
      }
      .right{
        padding-left: 0px;
      }
    }
  }

  &--content-wrapper {
    padding: $spacing-4 $spacing-6;
    justify-content:center;
    &.no-desc{
    }
    @include breakpoint(large) {
      padding: $spacing-8 $spacing-12;
      //the side facing the image needs to have no padding
      .right & {
        padding-left: 0;
      }
      .left &{
        padding-right:0;
      }
    }
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &--heading {
    margin-bottom: 0;
  }

  &--heading + &--link-wrapper,
  &--description + &--link-wrapper {
    padding-top: $spacing-8;
  }

  &--heading + &--description {
    padding-top: $spacing-6;
  }

  &--description{
    margin-bottom:0;
    @include breakpoint(small down){
      display: none;
    }
  }

  &--link-wrapper {
    text-align: right;
    margin-bottom: 0;
    //margin-top: auto;
  }
}
