// Tooltip trigger icon.
.has-tip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: top;

  &:after {
    font-family: 'Material Symbols Outlined', sans-serif;
    content: "\e88e";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    font-size: 1.5rem;
    font-variant: normal;
  }

  &:focus-visible {
    background-color: $color--brand--focus-yellow;
    border-bottom: 2px solid $color--brand--warm-black;
    outline-style: none;
  }
}

// The tooltip message itself.
.tooltip {
  @include tooltip();

  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.disclosure-wrapper {
  position: relative;
}
.tooltip-admin.tooltip-admin {
  @include tooltip();
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  bottom: 100%;
  &.tooltip-admin-hidden {
    display:none;
  }
}

div.tooltip[class*="bg-color-contrasting-"],
div[class*="bg-color-contrasting-"] .tooltip-admin {
  background-color: $color--brand--pure-white;
  color: $color--brand--warm-black;

  p, p span {
    color: $color--brand--warm-black;
  }
}
