@each $name, $color in $color-palette {
  @each $class, $prop in $color_class_types {
    .#{$class}--#{"" + $name} {
      #{$prop}: $color;
    }
  }
}

@each $name, $gradient in $gradients {
  .gradient--#{"" + $name} {
    background-image: $gradient;
  }
}

//.bg-color--blue-pattern {
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-image: $blue-pattern;
//}

.dark-theme {
  label, em, strong, i, small, .form-item, input, textarea, div, p, h1, h2, h3, h4, h5, h6, span, small, .p, .h1, .h2, .h3, .h4, .h5, .h6, .span, .small {
    color: $color--white;
  }
}

.light-theme {
  color: $color--brand--warm-black;
  .eyebrow {
    color: $color--brand--contrasting--night-blue;
  }
}

@each $name, $color in $vibrant-bg-colors {
  .bg-color--#{$name} {
    background-color: $color;
    color: $color--brand--warm-black;
    p {
      color: $color--brand--warm-black;
    }
  }
}

@each $name, $color in $contrasting-bg-colors {
  .bg-color--#{$name} {
    background-color: $color;
    color: $color--brand--pure-white;
    p {
      color: $color--brand--pure-white;
    }
    a {
      @include link(contrasting);
    }
  }
}

@each $name, $color in $contrasting-colors {
  .bg-color-contrasting-#{$name},
  .sub-bg-color-contrasting-#{$name} > * {
    background-color: #{$color};
    color: $color--brand--pure-white;
    p {
      color: $color--brand--pure-white;
    }
    a {
      @include link(contrasting);
    }
  }
}

@each $name, $color in $vibrant-colors {
  .bg-color-vibrant-#{$name},
  .sub-bg-color-vibrant-#{$name} * {
    background-color: #{$color};
    color: $color--brand--warm-black;
    p {
      color: $color--brand--warm-black;
    }
  }
}

@each $name, $color in $contrasting-colors {
  .icon-color--contrasting-#{$name} {
    svg {
      fill: $color;
    }
  }
}

@each $name, $color in $vibrant-colors {
  .icon-color--vibrant-#{$name} {
    svg {
      fill: $color;
    }
  }
}
