p:empty {
  display: none;
  height: 0px;
  position: absolute;
  left: -9999px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.scale {
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
  &:hover {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .25);
    transform: scale(1.01);
  }
}

.responsive-background-object {

  @include bg-image(center);

  // creates helper classes to position the background image
  $position: (
    --top-left: top left,
    --center-left: center left,
    --bottom-left: bottom left,
    --center-top: center top,
    --center: center,
    --center-bottom: center bottom,
    --top-right: top right,
    --center-right: center right,
    --bottom-right: bottom right,
  );

  @each $ext, $value in $position {
    &#{$ext} {
      @include bg-image($value);
    }
  }

}

.text-formatted > *:last-child, .trim-bottom-margin > *:last-child {
  margin-bottom: 0 !important;
}

.text-formatted {
  img {
    margin-bottom: 1.5rem;
  }

  p img {
    margin-bottom: 0;
  }
}

@each $name, $shadow in $box-shadow {
  .shadow--#{"" + $name} {
    box-shadow: $shadow;
  }
}

.unpublished-content{
  background-color:rgb(255, 65, 54, 0.3);
}
