.block--card,
.organism--card,
.organism--card--inner-wrapper {
  height: 100%;
}

.organism--card {
  .video-play {
    .button--media {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../../../source/assets/images/svg/video_play.svg') no-repeat center center;
      background-size: contain;
      width: 80px;
      height: 80px;
      color: transparent;
      font-size: 0px;

      &:after {
        content: '';
      }
    }
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .organism--card--icon {
    width: 6rem;
    height: 6rem;
  }

  .organism--card--media img {
    width: 100%;
  }

  div[class*="bg-color-"] {
    padding: $spacing-8;
  }

  .organism--card--inner-wrapper {
    display: flex;
    flex-direction: column;

    .organism--card--copy {
      height: 100%;

      .molecule--copy {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .heading {
        margin-top: $spacing-6;        
      }

      .links {
        //margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      .disclosure-wrapper {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }

  @include breakpoint(medium) {

    .organism--card--copy .description,
    .organism--card--copy .description p {
      font-size: $body-lg-font-size;
      line-height: $body-lg-line-height;

      p.text__small {
        font-size: $body-sm-smallscreen;
        line-height: $body-sm-line-height;
      }
    }
  }
}

.fourcol-layout,
.threecol-layout {
  .organism--card {
    div[class*="bg-color-"] {
      padding: $spacing-6;
    }
  }
}

// Fine-grained link stacking.
.fourcol-layout {
  .organism--card--inner-wrapper .organism--card--copy .links {
    flex-direction: column;
    row-gap: $spacing-2;

    @include breakpoint(medium) {
      flex-direction: row;
    }

    @include breakpoint(large) {
      flex-direction: column;
    }
  }
}

.threecol-layout {
  .organism--card--inner-wrapper .organism--card--copy .links {
    flex-direction: column;
    row-gap: $spacing-2;

    @include breakpoint(medium) {
      flex-direction: column;
    }

    @include breakpoint(large) {
      flex-direction: column;
    }

    @include breakpoint(xlarge) {
      flex-direction: row;
    }
  }
}

.twocol-layout {
  .organism--card--inner-wrapper .organism--card--copy .links {
    flex-direction: column;
    row-gap: $spacing-2;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}
