.molecule--menu-item--search {
  z-index: 10;

  .site-search-btn {
    display: block;

    svg {
      width: 24px;
      height: 24px;
      color: $color--brand--warm-black;
      padding: 5px;
    }
  }

  .site-search__title {
    font-family: $body-font-family;
    font-size: 1rem;
    font-weight: 500;
    display: none;

    @include breakpoint(mobile_menu) {
      display: block;
    }
  }

  .site-search-bar-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;

    @include breakpoint(mobile_menu) {
      width: 100vw;
      margin-left: 50%;
      left: calc(-1 * 100vw / 2);
    }
  }

  #site-search {
    display: flex;
    align-items: center;
    z-index: 999;
    color: $color--brand--warm-black;
    padding: 12px;

    &[aria-expanded="true"] {
      display: flex;
    }

    @include breakpoint(mobile_menu) {
      gap: 10px;
    }
  }

  #site-search-link,
  .bef--secondary {
    display: none;
  }

  .site-search-div {
    .container {
      .site-search-inner {
        .search-background {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }

        form {
          display: flex;
          justify-content: flex-end;
          width: 100vw;
          opacity: 0;
          transition: opacity 0.25s ease-out;

          @include breakpoint(medium) {
            width: 584px;
          }

          .form-actions {
            width: 38px;
            padding-top: 11px;
            padding-left: 10px;
          }

          .form-item {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
        svg {
          width: 24px;
          height: 24px;
        }

        &.align-center {
          @include breakpoint(large) {
            justify-content: flex-start;
          }
        }
      }
    }

    &.is-active {
      .site-search-bar-wrapper {
        height: auto;
        display: flex;
        align-items: center;
      }

      .site-search-bar-wrapper,
      .site-search-bar-overlay {
        visibility: visible;
        opacity: 1;
      }

      .container {
        //max-width: 1440px;
        justify-content: flex-start;
        max-width: map-get($breakpoints, xlarge);
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        @include breakpoint(mobile_menu) {
          transition: padding 0.3s ease;
        }

        form {
          opacity: 1;
          padding: 24px 18px;

          @include breakpoint(medium) {
            padding: 32px 30px;
          }

          @include breakpoint(mobile_menu) {
            padding: 32px 48px;
          }

          @include breakpoint(large) {
            padding: 32px 0;
            margin-left: calc(3rem + 184px + 1rem); // Grid container left gutter + Logo width + Logo right margin.
          }

          @include breakpoint(xlarge) {
            padding: 48px 0;
            margin-left: calc(4.5rem + 248px + 133px); // Grid container left gutter + Logo width + Logo right margin.
          }

          .form--inline {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
          }
          .form-actions {
            margin-top: 0;
            margin-bottom: 0;
            display: none;
          }
          .form-item {
            width: 100%;
          }
          .toggle-filters{
            display: none;
          }
        }
      }
    }
  }

  .site-search-bar-overlay {
    position: absolute;
    top: 100%;
    width: 100vw;
    margin-left: 50%;
    left: calc(-1 * 100vw / 2);
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.45);
    transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
  }

  &.is-active {

    .site-search-btn {
      &:before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        opacity: 1;
        transform: scale(1);
      }

      @include breakpoint(mobile_menu) {
        &:before {
          transform: scale(0);
        }
      }
    }
  }
}
