.molecule--teaser-card-row {
  // style things
  margin-bottom: 32px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  position:relative;
  .teaser-card-horizontal-col-1 {
    width:65%;
    .molecule--teaser-card-row--title {
      margin-bottom: 0px;
      font-size: 26px;
      line-height: 31.2px;
    }
    //TODO this has a lot of css in common with _vacancy.scss, maybe move the :before's to _header-meta.scss?
    .molecule--header-meta {
      column-gap: 17px;
      padding: 10px 0;
      line-height: 24px;
      .meta-item {
        &:after {
          content: none;
        }

        &:before {
          margin-right: 10px;
          font-size: 24px;
          line-height: 0;
          vertical-align: -6px;
          font-family: "Material Symbols Outlined";
        }

        &.location:before {
          content: '\e55f';
        }

        &.job-category:before {
          content: '\f030';
        }

        &.employment-type:before {
          content: '\e8b5';
        }
      }
    }
    @include breakpoint(large){
      .text-formatted{
        //line-height: 24px;
        //height: 48px;
        //overflow:hidden;
        //text-overflow:ellipsis;
      }
    }

  }
  @include breakpoint(small down){
    display: block;
    .teaser-card-horizontal-col-1{
      width:100%;
    }
  }

  .teaser-card-horizontal-col-2 {
    width: 100%;
    padding: 20px 0;

    svg {
      max-width: 100%;
      max-height: 60px;
    }
    @include breakpoint(medium){
      width: 32%;
      padding:20px 0 20px 20px;
    }
    @include breakpoint(large){
      padding:50px 0 50px 50px;
    }
  }
}
