.layout--clean-white-header {
  .header-content {
    padding: 1rem 0 1rem;
    background-color: $color--white;
    @include breakpoint(small down) {
      padding: 1rem 0;
    }

    &:has(a.site-branding__logo) {
      padding-bottom: .5rem;
    }
  }
  .header-content--inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    @include breakpoint(small down) {
      justify-content: center;
      flex-direction: column;
    }

    .site-branding__logo {
      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
