@mixin form-atom {
  font-size: rem-calc(16);
  line-height: 1.4285;
  padding: 12px 14px;
  border: 2px solid $color--link--default;
  //box-shadow: inset 0 2px 6px rgba($color--brand--warm-black, 0.34902);
  border-radius: 0;
  color: $color--brand--warm-black;
  width: 100%;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &.error {
    border-color: $color--form-error;
    color: $color--form-error;
  }
}
