.organism--single-stat {
  @include breakpoint(medium down) {
    &.image-right {
      flex-direction: column-reverse;
    }
    .media, article.media.media--type-svg.media--view-mode-single-stat-400-x-300 svg {
      height: auto;
      width: 100%;
    }
  }
  @include breakpoint(large) {
    .media, article.media.media--type-svg.media--view-mode-single-stat-400-x-300 svg {
      height: 300px;
      width: 400px;
    }
    .copy {
      width: auto;
      flex: 1 1 0;
    }
  }
  .copy {
    margin: auto 0;
    .molecule--copy {
      padding: $spacing-6 $spacing-8 $spacing-6 $spacing-8;
      @include breakpoint(small) {
        h2.heading.h1 {
          font-size: 32px;
          line-height: 1.2;
        }
        .description p {
          font-size: $body-md-smallscreen;
        }
      }
      @include breakpoint(medium) {
        h2.heading.h1 {
          font-size: 48px;
          line-height: 1.1;
        }
        .description.body-m {
          font-size: 24px;
          line-height: 1.5;
         }
      }
      @include breakpoint(large only) {
        .description.body-m {
          font-size: 20px;
          line-height: 1.5;
         }
      }
      @include breakpoint(xlarge) {
        padding: $spacing-8 $spacing-12 $spacing-8 $spacing-12;
      }
    }
  }
}
.no-media .media {
  display: none;
}
