.molecule--copy {
  .subhead, .description, .disclosure {
    margin-top: $spacing-4;
  }
  .links {
    margin-top: $spacing-6;
    @include breakpoint(medium) {
      margin-top: $spacing-8;
    }
    display: grid;
    grid-template-columns: repeat(1, max-content);
    row-gap: $spacing-4;
    column-gap: $spacing-4;
    justify-items: start;
    @include breakpoint(medium) {
      column-gap: $spacing-6;
      grid-template-columns: repeat(2, max-content);
    }
    @include breakpoint(large) {
      display: flex;
      flex-wrap: wrap;
      column-gap: $spacing-6;
    }

  }

  .columns {
    margin-top: $spacing-4;
    display: grid;
    grid-template-columns: 1fr; // 1 column.
    grid-auto-flow: row;
    gap: $spacing-4;

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr; // 2 equal columns.
      grid-template-rows: auto auto auto; // 3 rows (for each cell pair).
      grid-auto-flow: column; // Fill columns first (this will put the column cells side by side).
    }

    > .paragraph--type--simple-column {
      // display: contents; -- This will make the column cells have the same height.
      //   How? These elements don't produce a specific box by themselves. They are replaced by their pseudo-box and
      //   their child boxes, essentially removing themselves from the box tree and making their children appear as if
      //   they were the grid items.
      display: contents;

      @include breakpoint(medium) {
        // Make sure cells from the second column are explicitly placed in the grid's second column, even if column 1 is
        // not fully filled.
        &:nth-child(2) > div {
          grid-column: 2;
        }
      }
      .paragraph--type--description {
        padding-left: $spacing-12;
        li:before {
          content: "\e941"; // right arrow alt
          font-family: $icon-font-family;
          margin-right: rem-calc(18);
          font-size: 24px;
          width: 30px;
          margin-left: -1 * $spacing-12;
          text-align: left;
          line-height: 0;
          vertical-align: -7px;
          display: inline-block;
          transform: translateX(0px);
          transition: transform 300ms linear;
        }
      }
      .paragraph--type--simple-link-cell {
        padding-left: $spacing-12;

        a {
          text-decoration: none;

          &:before {
            content: "\e941"; // right arrow alt
            font-family: $icon-font-family;
            margin-right: rem-calc(18);
            font-size: 24px;
            width: 30px;
            margin-left: -1 * $spacing-12;
            text-align: left;
            line-height: 0;
            vertical-align: -7px;
            display: inline-block;
            transform: translateX(0px);
            transition: transform 300ms linear;
          }

          &:hover, &:focus {
            color: inherit;
            text-decoration: underline;

            &:before {
              transform: translateX(8px);
            }
          }
        }
      }
    }
  }
}
