.molecule--menu--footer-meta {
  width: 100%;
  margin-bottom: $spacing-6;
  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem-calc(10) rem-calc(30);
    @include breakpoint(medium) {
      gap: rem-calc(10) rem-calc(25);
      margin-bottom: 0;
    }
    a {
      font-weight: $global-weight-medium;
      white-space: nowrap;
      font-size: rem-calc(16);
    }
  }
}
