.molecule--rc-teaser {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;

  .eyebrow {
    margin-bottom: 8px;
    font-weight: 500;
  }

  .molecule--rc-teaser--heading {
    margin-bottom: 1rem;
  }

  .tag-cloud-wrapper {
    margin-bottom: 1.5rem;
  }

  .piped-meta-wrapper {
    margin-bottom: 8px;
  }

  &--media {
    margin-bottom: rem-calc(24);
    .molecule--background-media-with-badge {
      aspect-ratio: 2 / 1;
    }
    background: $color--light-grey-3;
  }

  &--description {
    margin-bottom: rem-calc(24);
  }

  &--link-wrapper {
    text-align: left;
    margin-top: auto;
  }

  &.hide-link {
    .molecule--rc-teaser--link-wrapper {
      margin: 0;
      height: 0;
      width: 0;
      overflow: hidden;
      a {
        text-indent: -9999px;
      }
    }
    .molecule--rc-teaser--description {
      margin-bottom: 0;
    }
    &:has(.stretched-link-tag-before:focus-visible) {
      outline: 4px solid $color--brand--focus-yellow;
    }
  }

  .molecule--rc-teaser--media {
    .hide-teaser-image & {
      display: none;
    }
  }
}
