#children_table {
  width: 100%;
  margin-top: 25px;
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
  .js-form-wrapper {
    width: 100%;
  }
  .form-type-children {
    display: flex;
    flex-direction: column;
  }

  .form-type-children .webform-multiple-add {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    button {
      @include btn(secondary);
      &:after {
        content: none;
      }

      margin-top: 0;
    }

    .submit-input-wrapper {
      flex-basis: calc(50% - 20px);
      width: calc(50% - 20px);
      margin-right: 10px;
      margin-left: 10px;
    }

    @include breakpoint(small down) {
      margin-top: 0;
      margin-bottom: 25px;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .girl, .boy {
    div[class*="-gender"].form-item {
      label {
        font-size: rem-calc(20);
        font-weight: 500;
        line-height: 30px;
        margin: 0;
        margin-bottom: 12px;
        padding: 0;
        display: flex;
        color: $color--brand--warm-black;
        background-color: transparent;
        //background: transparent;
        transform: none;
        position: static;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
      }
      select, .selectCustom {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
      }
    }

    .select2-selection__rendered {
      padding: 7px;
      height: 30px;
      text-align: left;
      font-size: 14px;
    }
    .select2-selection__arrow {
      top: -9px;
    }
    .webform-multiple-table--operations {
      .image-button {
        display: none;
      }
      .image-button[id*="operations-remove"] {
        display: block;
      }
    }
  }
  tbody {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    justify-content: center;
    tr {
      td {
        padding: 0;
      }
      //flex-basis: calc(25% - 20px);
      margin-bottom: 15px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-flex;
      flex-direction: column;
      padding: 6px;
      position: relative;
      min-width: 95px;
      border-radius: 3px;
      .nice-select {
        min-width: 100px;

        .current {
          color: transparent;
          font-size: 0px;
          &:before {
            color: $color--brand--warm-black;
            content: "Age";
            font-size: 14px;
          }
        }

        .current:has(+ div .selected) {
          color: $color--brand--warm-black;
          font-size: 14px;
          &:before {
            content: none;
          }
        }
      }
      [name*="[gender]"] + .nice-select {
        display: none;
      }

      &:last-child {
        //margin-right: 0;
      }
      &.boy {
        background-color: $color--brand--vibrant--grass-green;
      }
      &.girl {
        background-color: $color--brand--vibrant--sky-blue;
      }
      .webform-multiple-table--operations {
        .image-button:last-of-type {
          position: absolute;
          top: 4px;
          right: 4px;
          border: none;
          opacity: 1;
          width: 24px;
          height: 24px;
          &:hover {
            opacity: .5;
          }
        }
      }
    }
    @include breakpoint(small down) {
      justify-content: center;
      margin-bottom: -15px;
      tr {
        margin-bottom: 15px;
        margin-right: 7.5px;
        margin-left: 7.5px;
      }
    }
  }


}

.form-type-children {
  thead {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
  }
}
