.page--policy-explorer.page--policy-explorer {
  @import "policy-explorer-actions";
  @import "special-form-items";
  @import "get-a-quote-results-page";
  @import "children-form-field";
  @import "throbber";

  h1 + p, h2 + p {
    @extend %body-l;
    margin-bottom: 0;
  }

  .webform-actions, .wizard-controls:has(*) {
    margin-top: 40px;
    margin-bottom: 0;
  }



  .current-page--insurance_options {
   .webform-button--next {
     display: none;
   }
  }

  @include breakpoint(small down) {
    > div.grid-container {
      margin-top: 1rem !important;
    }
  }

  .organism--disclaimer {
    margin-top: 3.75rem;
    margin-bottom: -1.25rem;
  }

  //.form-progress-wrapper {
  //  margin-bottom: 24px;
  //  @include breakpoint('medium') {
  //    margin-bottom: 80px;
  //  }
  //}
  .width-mid:has(.make-container-default) {
    max-width: $global-width;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    &:has(+ *) {
      margin-bottom: 2.5rem;
    }
  }


  .current-page--results_page {
    .webform-button--submit {
      display: none !important;
    }
  }
}

.plan-explorer-container {
  .molecule--menu--main {
    .menu-item {
      position: relative;
      a {
        text-decoration: none !important;
      }
    }
    .menu-item > a:before {
      content: "";
      position: absolute;
      bottom: 13px;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: black;
      opacity: 1;
      transition: opacity 300ms, -webkit-transform 300ms;
      transition: opacity 300ms, transform 300ms;
      transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: center;
      transform-origin: center;
    }
    .menu-item > .is-active:before, .menu-item > a:hover:before {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .results-page-left {
    p + .molecule--modal {
      margin-top: 1.5rem;
    }
  }

  .quote-page-left .molecule--tabbed-info-card h2{
    margin-top: 0;
  }

  .webform-submission-form .form-wrapper {
    @include breakpoint(small down) {
      gap: 16px;
    }
  }

  .budget-copy-2 {
    display:flex;
    flex-direction: column;
    .molecule--modal {
      margin-top: 24px;
    }
    svg {
      order: 99;
      margin-top: 48px;
    }
  }

  .get-a-quote-flexbox {
    .quote-page-left {
      padding-right: 4px;
      .plan-details .molecule--modal {
        margin-top: 0;
      }
    }
    .quote-page-right {
      padding-left: 4px;
    }
  }
}

// @TODO possibly apply this to all modals?
#email-results-modal, #contact-an-agent-modal {
  max-width: $width-mid;
  margin: auto
}

#email-results-modal {
  button.form-submit {
    margin-left: 0;
    &:after {
      content: '\e158' !important;
    }
  }
}

body:has(.page--policy-explorer.page--policy-explorer) .molecule--modal--content  p {
  @extend %body-l;
  &:last-of-type {
    margin-bottom: 0;
  }
}
