////
/// Header
////
body.menu-active {
  overflow: hidden;
}
.layout--header {
  @include breakpoint(mobile_menu) {
    //height: 100px;
  }
  .header-content {
    background: $color--brand--pure-white;

    //transition-duration: 250ms;
    //transition-timing-function: ease-in-out;
    &.is-stuck {
      background-color: $color--brand--pure-white;
      //background-color: $light-gray;
      //.toolbar-horizontal.toolbar-fixed & {
      //  top: 59px !important;
      //}
      //.toolbar-vertical & {
      //  top: 39px !important;
      //}
    }
  }
}

.dropdown-menu-active {
  .open-dropdown-menu-overlay {
    display: block !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#000, .5);
  }

  // Adjust for admin toolbar.
  &.gin--classic-toolbar .open-dropdown-menu-overlay {
    top: var(--gin-toolbar-y-offset);
  }
}
