
.ck-content {
  padding: 0 2rem !important;
}

table {
  td, th {
    min-width:100px;
    min-height:50px;
  }
}

.ck-editor__main {
  @import "general/typography";
  @import "general/colors";
  @import "general/links";
  @import "general/buttons";
}

.ck-editor__main .media--view-mode-rich-text-full-width {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ck-editor__main table {
  word-wrap: initial !important;
}

.ck-editor__editable {
  li span.ck-list-bogus-paragraph {
    display: contents;
  }
}
