.organism--accordion {
  z-index: 0;
  @include breakpoint(large down) {
    display: block;
  }

  .organism--accordian--copy {
    .molecule--copy {
      .heading {
        font-size: $heading-sm-font-size;
        line-height: $heading-sm-line-height;
      }
      .subhead {
        font-size: $heading-xs-font-size;
        line-height: $heading-xs-line-height;
      }
    }
  }

  .molecule--accordion-item:first-of-type:before {
    background: $color--light-grey-5;
    content: "";
    left: 0;
    position: absolute;
    //top: calc(100% + 1rem);
    width: 100%;
  }
}

